.insert-exchange {
    padding: 20px;
    border-radius: 10px;
    border-color: #d27c2c;
}

.rowcv {
    display: flex;
    flex-wrap: wrap;
}

.izq {
    text-align: left;
}

.peque {
    width: 15%;
    height: 20px;
    border-radius: 10px;
    border-color: #d27c2c;

}

.btn {
    height: 35px;
    background-color: #d27c2c;
    font-size: 20px;
    color: white;
}

.grand {
    width: 30%;
    height: 20px;
    border-radius: 10px;
    border-color: #d27c2c;
}

.blanc {
    color: #fffee1;
}

.amount {
    width: 90%;
    height: 32px;
}

.fecha {
    height: 30px;
    width: 45px;
}